<div class="form-signin text-center w-50 m-auto pt-5">
<form class="login-form card-body">
    <div class="form-floating">
        <input type="email" class="form-control" id="email-login" placeholder="name@example.com" />
        <label for="email-login">Email Address</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="password-login" placeholder="Password"/>
        <label for="password-login">Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-info" type="submit">Login</button>
</form>
<a class="link pb-3" href="/sign-up">Or sign up instead</a>
</div>
<script src="/javascript/login.js"></script>